<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shs/mybatis.SHSMapper.xml">
	<insert id="memInsert">
		INSERT INTO shsmember(sid, sname, sage, smajor, sphone)
		VALUES(seq_shsmember_sid.NEXTVAL, #{sname}, #{sage}, #{smajor}, #{sphone})
	</insert>
	 <!--resultType 결과값을 반환하는 Type 실제 패키지경로를 모두 작성해야함 ex) com.shs.dto.MemberDTO 그러나
	 Configuration.xml파일에 TypeAlias(별명)을 사용하면 MemberDTO처럼 간단하게 입력 가능  -->
	<select id="memSelect" resultType="MemberDTO">
		SELECT * FROM shsmember
		ORDER BY sid
	</select>
	
	<select id="memSearch" parameterType="String" resultType="MemberDTO" >
		<![CDATA[
			SELECT * FROM shsmember
			WHERE sname LIKE '%' ||#{name}|| '%'
		]]>
	</select>
</mapper>